# API配置
OPENROUTER_API_URL=https://openrouter.ai/api/v1/chat/completions
MODEL_NAME=anthropic/claude-3.5-sonnet
OPENROUTER_API_KEY=your_openrouter_api_key_here
SITE_URL=http://localhost:8000
SITE_NAME=FastAPI Chat Room
# CORS配置
DOMAIN=http://localhost:8000

DATABASE_URL=
PRIMARY_DB_URL=
REPLICA_DB_URLS=
